<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body class="page">
    <div class="page__inner">
        <div class="header">
            <div class="header__add-new">
                <button id="add-record">Add New</button>
            </div>
        </div>
        <section class="main">
            <div class="main__inner">
                <div class="events">
                    <%= currentDate %>
                    <% for (const event of events) { %>
                        <div class="event">
                            <p class="event__title"><%= event.name %>
                            </p>
                            <p class="event__date"><%= event.date %>
                            </p>
                        </div>
                        <% } %>
                </div>
            </div>
        </section>
    </div>
    <div id="backdrop"></div>
    <aside id="form">
        <%- include('./partials/form') %>
    </aside>
</body>

</html>